# Temp folder where things should be synced to and from the scratch org
src-temp/**
!src-temp/README.md

# Salesforce cache
.sfdx/
.sf/
.sfpowerscripts/
.localdevserver/
.ssdx

#Snyk cache
.dccache

# IDEs
.idea/
.vscode/
.vim-force.com/
IlluminatedCloud/
projectFilesBackup/

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

*.iml

mdapi/
/.idea/
.pmdCache

# misc
.*.sw?
*.vim
TAGS
tags
src/platform-data-model/ad-group-mapping-custom-metadata/layouts/AdGroupMapping__mdt-AD group mapping Layout.layout-meta.xml
src/platform-data-model/ad-group-mapping-custom-metadata/objects/AdGroupMapping__mdt/AdGroupMapping__mdt.object-meta.xml
src/platform-data-model/ad-group-mapping-custom-metadata/objects/AdGroupMapping__mdt/fields/AccessType__c.field-meta.xml
src/platform-data-model/ad-group-mapping-custom-metadata/objects/AdGroupMapping__mdt/fields/AdGroupIdPreprod__c.field-meta.xml
src/platform-data-model/ad-group-mapping-custom-metadata/objects/AdGroupMapping__mdt/fields/AdGroupIdProd__c.field-meta.xml
src/platform-data-model/ad-group-mapping-custom-metadata/objects/AdGroupMapping__mdt/fields/PermissionSet__c.field-meta.xml
src/platform-data-model/ad-group-mapping-custom-metadata/objects/AdGroupMapping__mdt/fields/PermissionSetGroup__c.field-meta.xml
src/platform-data-model/ad-group-mapping-custom-metadata/objects/AdGroupMapping__mdt/fields/SalesforceGroupDeveloperName__c.field-meta.xml
