name: ON PUSH MAIN
on:
  push:
    branches:
      - main
    paths:
      - src/**
  workflow_dispatch:
jobs:
  build:
    uses: navikt/sf-platform/.github/workflows/buildAndPublish.yml@main
    permissions:
      contents: write
      packages: write
      security-events: write
      pull-requests: write
    secrets:
      SF_DEVHUB_URL: ${{ secrets.SF_DEVHUB_URL }}
      METRICS_KEYS: ${{ secrets.METRICS_KEYS }}
  create_release:
    needs: build
    if: needs.build.outputs.hasNewArtifacts == 'true'
    uses: navikt/sf-platform/.github/workflows/createRelease.yml@main
    permissions:
      contents: write
      packages: read
    secrets:
      METRICS_KEYS: ${{ secrets.METRICS_KEYS }}
      SF_DEVHUB_URL: ${{ secrets.SF_DEVHUB_URL }}
  release_to_dev:
    needs: create_release
    if: needs.create_release.result == 'success'
    uses: navikt/sf-platform/.github/workflows/releaseToDev.yml@main
    permissions:
      contents: read
      packages: read
    secrets:
      METRICS_KEYS: ${{ secrets.METRICS_KEYS }}
      SF_DEVHUB_URL: ${{ secrets.SF_DEVHUB_URL }}
      SF_DEV_URL: ${{ secrets.SF_DEV_URL }}
