name: "[PUSH] Quickbuild"
on:
  push:
    branches-ignore:
      - main
concurrency:
  group: ci-${{ github.ref_name }}
jobs:
  staticCodeValidation:
    name: Validation jobs
    uses: navikt/sf-platform/.github/workflows/ciStaticCodeValidation.yml@main
    permissions:
      contents: read
      security-events: write
      pull-requests: write

  checkChanges:
    name: Check changes
    needs: staticCodeValidation
    runs-on: ubuntu-latest
    outputs:
      hasSrcChanges: ${{ steps.checkChanges.outputs.hasSrcChanges }}
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: navikt/sf-platform/.github/actions/checkForPackageChanges@b79b17356be49158fff788019a38a8cf0e60d964
        id: checkChanges

  quickBuild:
    name: Quickbuild
    needs: checkChanges
    if: ${{ github.event_name == 'workflow_dispatch' || needs.checkChanges.outputs.hasSrcChanges == 'true' }}
    runs-on: ubuntu-latest
    container: ghcr.io/flxbl-io/sfp:${{ vars.SFP_CONTAINER_VERSION }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Authenticate DevHub
        uses: navikt/sf-gha-authenticateOrg@da2f995ee865e05111574719abfc5ba12b459f0c
        with:
          auth-url: ${{ secrets.SF_DEVHUB_URL }}
          alias: devhub
          setDefaultDevhubUsername: "true"

      - name: Quickbuild package
        id: quickbuildPackage
        shell: bash
        run: |
          sfp quickbuild --devhubalias devhub --diffcheck --buildnumber "$GITHUB_RUN_ID" --branch ${GITHUB_REF#refs/heads/} --loglevel "$SFP_LOG_LEVEL"
        env:
          SFP_LOG_LEVEL: ${{ vars.SFP_LOG_LEVEL }}

      - name: Upload artifacts and logs
        if: always()
        uses: navikt/sf-platform/.github/actions/uploadWorkflowArtifactsAndLogs@b79b17356be49158fff788019a38a8cf0e60d964
        with:
          artifactName: build-artifacts
          uploadArtifacts: true
          logName: build-logs
          publishLogs: true
