name: Release to DEV
run-name: Release to DEV
on:
  workflow_call:
    inputs:
      release_tag:
        required: false
        type: string
    secrets:
      METRICS_KEYS:
        required: true
      SF_DEVHUB_URL:
        required: true
      SF_DEV_URL:
        required: true
  workflow_dispatch:
    inputs:
      release_tag:
        description: Release tag
        required: false
        default: ""
      loglevel:
        description: Log level
        required: false
        type: choice
        default: INFO
        options:
          - TRACE
          - DEBUG
          - INFO
          - WARN
          - ERROR
          - FATAL
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
jobs:
  release:
    name: Release to DEV
    runs-on: ubuntu-latest
    container: ghcr.io/flxbl-io/sfp:${{ vars.SFP_CONTAINER_VERSION || 'latest' }}
    permissions:
      contents: read
      packages: read
    env:
      NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Authenticate Node
        uses: actions/setup-node@v6
        with:
          registry-url: https://npm.pkg.github.com

      # Sets up Salesforce CLI authentication for the DevHub
      - name: Authenticate DevHub
        uses: navikt/sf-gha-authenticateOrg@da2f995ee865e05111574719abfc5ba12b459f0c
        with:
          auth-url: ${{ secrets.SF_DEVHUB_URL }}
          alias: devhub

      - name: Authenticate Dev
        uses: navikt/sf-gha-authenticateOrg@da2f995ee865e05111574719abfc5ba12b459f0c
        with:
          auth-url: ${{ secrets.SF_DEV_URL }}
          alias: dev

      - name: Release to Dev
        uses: navikt/sf-gha-release@a97c935220209a3957923eb261ebb14e0660979a
        with:
          release_tag: ${{ github.event.inputs.release_tag }}
          loglevel: ${{ github.event.inputs.loglevel || vars.SFP_LOG_LEVEL || 'INFO' }}
          target_org_alias: dev
          devhub_alias: devhub
          releaseNamePrefix: ${{ vars.RELEASE_NAME_PREFIX }}
          auth_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Push logged metrics
        uses: navikt/sf-platform/.github/actions/pushLoggedMetrics@a8782aa68b760325cad54dd9758ec3227c1bc267
        with:
          metricsKey: ${{ secrets.METRICS_KEYS }}
